.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.compare-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bit-btn {
  margin-right: 5px;
}
